<div>
    <header>
	<div class="container">
		<div class="menu-nav">
			<a class="menu-container" ui-sref="index.blog">My Blog</a>
			<a class="menu-container" ng-click="main.goToForm('add')">Add record</a>
		</div>
	 </div>
 </header>
 	<!-- <section>
 		<div ng-repeat="entry in main.entries">
 			{{entry.Title}}
 			<button ng-click="main.goToForm('edit', entry)">Edit</button>
 		</div>
 	</section> -->
    <div ui-view></div>
</div>