<section>
 	<div class="container">
 		<div class="my-record"> 
	 		<div class="my-title">
		 		<span >
		 			<strong>{{record.entries.Title}}</strong>
		 		</span>
		 	</div>
				<p><i>{{record.entries.Text}}</i></p>
				<span class="my-date"><strong>{{record.entries.DateCreated | date:'medium'}}</strong></span><br>                                
                        <div class="my-button">
                                <button class="button-style" ng-click="main.goToForm('edit',record.entries.EntryId,record.entries)">Edit</button>
                                <button class="button-style" ng-click="record.DeleteRecord(record.entries.EntryId)">Delete</button>
                        </div>
 		</div>
 	</div>
    <div ui-view></div> 
 </section>