a:link{
	color: black; 
	text-decoration: none;
	font-weight:bold;
	font-size:14px;
	}
a:visited {
	color: black; 
	text-decoration: none;
	}
a:hover{
	color: #ccc; 
	text-decoration: none;
	border-bottom: 5px solid #8B7355;
	padding-bottom: 10px;
	}
.menu-container{
	margin-right:20px;
}
.my-record{
	margin:0 auto;
	width:70%;
	padding-bottom: 10px;
	border-bottom: 2px dotted #EEC591;
}
.my-title{
	color:#EEC591;
	margin: 0 auto;
	display: block;
}
.my-date{
	color:#CDAA7D;
	float:right;
}

.button-style{
	width: 140px;s
	border: 1px dotted rgb(139, 71, 38);
	border-radius:5px;
	height: 25px;
	background-color: rgb(205, 170, 125);
}
.form-control{
	width: 80%;
	margin:0 auto;
}
.form-control:focus {
    border-color: #FFD39B;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
}