
   <section>
	 <div class="container">
		 <div class="my-record">
		 <h3 class="my-title"> Action with record </h3>
		 <br>
		 	<form>
			 	<input type="text" class="form-control" ng-model="form.title" ><br>
			 	<input type="text" class="form-control" ng-model="form.author" ><br>
			 	<textarea class="form-control" ng-model="form.text" ></textarea><br>
			 	<!-- <button class="button-style" ng-click="form.action()">{{form.name}}</button> -->
			 	<button class="button-style" ui-sref="index.blog" ng-click="form.action()">{{form.name}}</button>
		 	</form>
		 </div>
	 </div>
      {{form.entry.Title}}
       <div ui-view></div> 
 </section>

   
    
   
