
    
    <section>
	 	<div class="container">
	 		<div class="my-record" ng-repeat="entry in myBlog.entries"> 
		 		<div class="my-title">
			 		<span >
			 			<strong>{{entry.Title}}</strong>
			 		</span>
			 	</div>
					<p><i>{{entry.Text}}</i></p>
					
					<span class="my-date"><strong>{{entry.DateCreated | date:'medium'}}</strong></span><br>
					<div class="my-button" ng-controller="RecordCtrl">
						<button  class="button-style" ng-click="myBlog.readMore(entry.EntryId)">Read more</button>
					</div>
	 		</div>
	 	</div>
        <div ui-view></div> 
    </section>

